[2020-09-15 19:27] spyfly opened #1 "Vanillastack Install failing"
Hi,

I have tried installing Vanillastack using the latest prebuilt docker image, but the install fails with the following message:
![grafik](https://user-images.githubusercontent.com/2892832/93255090-afd12e00-f799-11ea-9f08-c9022dce423e.png)

After this message is displayed, the installer docker container crashes.

I have attached the log output of the docker install container below:
[code]

[2020-09-16 07:34] christiancloudical commented on #1
Hey spyfly,

I can confirm that there is a problem with the path, we are working to fix that as soon as possible,

Greetings,
Christian

[2020-09-18 20:28] funnym0nk3y opened #2 "State of repo and contributions"
What is the state of this repo compared to the website? There are some projects listed, which to my knowledge are not yet included in this repo (Istio, Keycloak, etc.). I guess they will be included eventually, but what's the state on them and are you accepting contributions in this early state?

[2020-09-21 07:48] kisahm commented on #1
@spyfly please checkout the new "latest" image.
`harbor.cloudical.net/vanillastack/installer:latest`

pls remove the old image first.
[code]

[2020-09-23 11:36] spyfly commented on #1
Thanks, the latest image resolved this issue.

[2020-09-23 11:36] #1 closed

[2020-09-23 11:42] kisahm commented on #2
currently we are structuring the project to open it for "external" contributors.
the process will be described in the next days.

in the mean time: feel free to open issues in regards of bugs and feature requests.

[2020-09-23 11:52] spyfly opened #3 "Install helm task failing"
It seems like the install helm task is failing due to being unable to call the tar command.

I have attached the related log output below:
[code]

The complete install log can be found here: https://gist.github.com/spyfly/bf8721e4ff1fa3edbc4d9bdd118aa7ec

[2020-09-23 11:55] christiancloudical commented on #3
I will add the "tar" package to the script, please install it on your own initialy, will update the case, as far as it is in the new image

[2020-09-29 20:51] kisahm commented on #3
@spyfly should be fixed in the curren latest image

[2020-09-30 19:27] Born2Bake opened #4 "Unable to attach or mount volumes: unmounted volumes=[mysql-data]"
Hi,

I was trying to deploy Vanillastack and got stack at openstack-mariadb-deployment:

Ansible error - http://paste.openstack.org/raw/798580/

MariaDB pod describe - http://paste.openstack.org/show/798581/

I ve checked rbdplugin logs - http://paste.openstack.org/show/798582/ and it says:
[code]
Is it possible cause I am trying to deploy everything on Debian 10 VM's?

My infra:
Proxmox/KVM hyper

[2020-09-30 19:34] kisahm commented on #4
i'll try it in my test lab.

rook is up and running?

[code]

[2020-09-30 19:35] Born2Bake commented on #4
[code]

[2020-09-30 20:36] kisahm commented on #4
we're testing on:
- centos8
- debian 10
- fedora 32
- opensuse 15.2
- ubuntu 20.04

i'm running the debian 10 test now and hope i can present a solution tomorrow ;-)

[2020-09-30 20:38] Born2Bake commented on #4
Okay, that is fine. I am planning to test on fedora 32.

[2020-09-30 21:29] kisahm commented on #4
ok get the same..

[code]

we'll create a solution for debian10 asap

[2020-09-30 21:31] Born2Bake commented on #4
On Fedora, install failed at:

[code]

[2020-09-30 23:26] kisahm commented on #4
fedora32 issue should be fixed in the new latest image
or: harbor.cloudical.net/vanillastack/installer:0.500.5e907fed

[2020-10-01 09:33] Born2Bake commented on #4
Its weird. I ve started that build and same error with fedora:

[code]

[2020-10-01 12:35] kisahm commented on #4
there was an error in crio.conf. maybe missmerge.
please try the new latest image: harbor.cloudical.net/vanillastack/installer:0.500.94a6fce8

[2020-10-01 12:36] Born2Bake commented on #4
Shall I try it with Debian or Fedora?

[2020-10-01 12:38] kisahm commented on #3
@spyfly is it working for you now?

[2020-10-01 12:51] kisahm commented on #4
try it in fedora

[2020-10-01 13:07] Born2Bake commented on #4
UPDATE on fedora:
[code]

[2020-10-01 14:33] christiancloudical commented on #4
Can you tell us a little bit more regarding your infrastructure?
Where are the server running? ( VM / BareMetal / Cloud )
Internal / External LB?
Network CIDR of your Infrastructure?

[2020-10-01 14:42] Born2Bake commented on #4
2 BM servers running Proxmox in cluster 64GB RAM, 16 CPU each.

I am trying to run vanillastack on top of 6 virtual machines:

I ve been testing with fedora cloud image and debian cloud image where qcow2 is imported into proxmox; Nested virt is enabled on each vm - https://pve.proxmox.com/wiki/Nested_Virtualization;

Internal LB as haproxy (deployed via ansible playbooks of yours)

CIDR: 172.16.0.

[2020-10-01 14:44] christiancloudical commented on #4
Do you have additional disks attached?

[2020-10-01 14:46] Born2Bake commented on #4
Yes, each worker vm has additional disk for 400GB. Thus, the nodes would not be verified properly if I didnt have it.

[2020-10-01 14:47] kisahm commented on #4
could you install the tool "sosreport" on master1 and send us an sosreport?
the tools is collection system information informations.

usage: sosreport -a

[2020-10-01 15:03] Born2Bake commented on #4
I have deleted all the nodes which I ve used to run the installer so I just created new fedora & debian vms and ran the reports:

https://mega.nz/file/PEFxhAgS#qKQIuzVX7VD5PqOmth5ywxSslw2hxBZp6IaD4H2b7h8 - fedora
https://mega.nz/file/KEcBWSiZ#VIBxdpji-H_RgU042vu8DyvrJOTDIcqu0CPkBTRt8Vo - debian

[2020-10-01 15:13] christiancloudical commented on #4
What I directly recognize, both interfaces on your master are in the same subnet.
That is not allowed, can you try to run your installation without openstack and only one interface attached?
Or can you change the network of your second interface?

[2020-10-02 04:47] Born2Bake commented on #4
Hi,

I ve tried again with debian and playbook still failed at cillium deployment. However, when I tried manual run of helm command on master1, it worked like a charm:

‘’’

2020-10-01 23:38:59,379 p=278 u=root n=ansible | TASK [deploy-kubernetes : fetch kubeadm config] ********************************
2020-10-01 23:39:00,001 p=278 u=root n=ansible | changed: [master1]
2020-10-01 23:39:00,094 p=27

[2020-10-02 10:20] Born2Bake commented on #4
Changed setup:

1 bare metal server as master and 3 VM's as workers. Debian OS. Deployment failed at mariadb deployment due to rbd issues:

[code]
worker1 - https://mega.nz/file/fM0yzIYS#fKW4R5ErpAGqi19GNmhUsU9B39Hy5xxrfrK20fwwLnI
master - https://mega.nz/file/iB0wlY4D#n3OVKXSiF5FeEhE-Et09aQZ1pF-MSjo55eKZE2UAKrI

[2020-10-03 08:52] jaybe1966 opened #5 "Error writing Crisocket information for the control-plane node"
When trying to install vanillastack with the docker image
harbor.cloudical.net/vanillastack/installer:latest              5af4467948f2
I receive the following error:
Error writing Crisocket information for the control-plane node: timed out waiting for the condition
[2020-10-02_Installation.log](https://github.com/vanillastack/vanillastack/files/5321326/2020-10-02_Installation.log)

Maybe the nodes

[2020-10-04 10:29] galexrt commented on #5
@jaybe1966 Could you check on the VMs if the `crio` service is running? It should but maybe there is an issue, which needs to considered during installation.

[code]

Please post the logs of the `crio` service as well:
[code]

[2020-10-04 18:04] spyfly commented on #3
Yes, this particular issue has been resolved.

[2020-10-04 18:04] #3 closed

[2020-10-04 18:15] spyfly commented on #5
My install has failed with the same issue, install log can be found [here](https://gist.github.com/spyfly/1cedef9b1a2f1aa4741da9cbead90f2c)

`crio` seems to be running on the master and all three worker nodes.

And here are the crio service logs:
- [Master](https://gist.github.com/spyfly/6b4c71e99bbbb01974489dfddfea11da)
- [Worker1](https://gist.github.com/spyfly/32d2954aebc5068361d5486ea93e7be0)

[2020-10-05 06:25] kisahm commented on #5
@jaybe1966 which linux distribution are you using?

[2020-10-05 18:10] spyfly commented on #5
I'm not @jaybe1966, but I'm running Fedora 32 Server

[2020-10-06 14:41] jaybe1966 commented on #5
Running Fedora 32 Server on the nodes.
Installer is running in a docker container on Linux Mint Debian Edition.

[2020-10-07 17:11] kisahm commented on #5
could you test the new installer images
we've fixed a lot of crio, cilium and os basic stuff.

new (latest) docker image: harbor.cloudical.net/vanillastack/installer:0.500.4dd79119

[2020-10-07 17:12] kisahm commented on #4
could you test the new installer images
we've fixed a lot of crio, cilium and os basic stuff.

new (latest) docker image: harbor.cloudical.net/vanillastack/installer:0.500.4dd79119

[2020-10-08 08:04] chymian opened #6 "debian10 installation fails."
installer: selfcreated from git
deploy VM: fed32
masters: 3 VMs, debian 10
nodes: 3VMs, debian 10
SW-selection: all deselected, habour: with and without, same result

## description
to make the pip-install work, the prerequisites have to be fulfilled.
the install-process fails while it tries to deploy habour (even if deselected).
see log below.
that was done yesterday, before the merger of testing

[2020-10-08 08:25] kisahm commented on #6
Looks like the Debian cilium problem.
Which image version you‘ve tried?

[2020-10-08 08:26] kisahm commented on #6
Could you try the build from yesterday:
harbor.cloudical.net/vanillastack/installer:0.500.4dd79119

[2020-10-09 08:36] chymian commented on #6
debian10 packer 6w old.
I now tested it with debian-10.6.0-openstack-amd64.qcow2, and that works. the culprits came from packer-prozess/iso-install. sorry for the noise.

gives:
[code]

[2020-10-10 09:25] jaybe1966 commented on #5
With image harbor.cloudical.net/vanillastack/installer:0.500.4dd79119 I get the following error:

fatal: [system141]: FAILED! => {"msg": "The conditional check 'polyverse.enabled' failed. The error was: error while evaluating conditional (polyverse.enabled): 'polyverse' is undefined\n\nThe error appears to be in '/tmp/ansible/roles/deploy-polyverse/tasks/main.yaml': line 2, column 3, but may\nbe e

[2020-10-12 08:07] jaybe1966 commented on #5
tested with the new image

[2020-10-12 08:07] #5 closed

[2020-10-12 08:21] kisahm commented on #6
@chymian should be fixed by harbor.cloudical.net/vanillastack/installer:0.500.34f16271

[2020-10-12 11:23] chymian commented on #6
@kisahm regarding the culprits with the packer-image and the wrong version of python-tools which sneaked in and had been causing trouble:
can you please define what does "bring your own Linux" include and what not? only stock images (which)? but what about installer-deployments on bare-metal? what are the exact minimum preferences (prg/vers) and HW-specs (i.e. ? x net, which network-layout, etc).

[2020-10-15 08:25] jaybe1966 opened #7 "Installation fails on Fedora 32 Server: cannot automatically set CgroupDriver when starting the Kubelet"
With the image
harbor.cloudical.net/vanillastack/installer                 3136726ea59a
I receive the following error:

cannot automatically set CgroupDriver when starting the Kubelet: cannot execute 'docker info -f {{.CgroupDriver}}': executable file not found in $PATH

Here is the full json sequence:
{
   "changed":true,
   "cmd":[
      "kubeadm",
      "join",
      "--token",
      "30r9ti.z3

[2020-10-15 12:01] kisahm commented on #7
could you pls verify the new image?
harbor.vanillastack.io/vanillastack/installer:0.500.d839e26f

[2020-10-15 21:15] jaybe1966 commented on #7
Also the image
harbor.vanillastack.io/vanillastack/installer:0.500.d839e26f
fails.
Logfile is attached.
[2020-10-15_01.log.txt](https://github.com/vanillastack/vanillastack/files/5387861/2020-10-15_01.log.txt)

[2020-10-17 23:48] galexrt commented on #7
@jaybe1966 Could you ssh to the server and check if the `crio` service is running?

Post the output and file of the following commands:

[code]

[2020-10-18 20:03] jaybe1966 commented on #7
Resetted the Virtual Machines and started the installation again with image
harbor.vanillastack.io/vanillastack/installer:0.500.d839e26f
Now the installation process goes further until adding the vanillastack repository:

TASK [prepare-registry : install VanillasStack Helm repository - commercial] ***
fatal: [system141]: FAILED! => {"changed": false, "msg": "Repository already have a repository na

[2020-10-18 20:22] jaybe1966 commented on #7
A restart of the installation leads to thiss error message:

TASK [deploy-kubernetes : install helm] ****************************************
changed: [system141]
changed: [system144]
changed: [system145]
changed: [system146]
changed: [system143]
changed: [system142]

TASK [deploy-kubernetes : remove cockpit] **************************************
fatal: [system144]: FAILED! => {"changed": false,

[2020-10-20 06:41] jaybe1966 commented on #7
I resetted the 6 VMs and restartet the installation with just 4 VMs (1 master, 3 worker) and now the installation fails with:

TASK [prepare-registry : install VanillasStack Helm repository - commercial] ***
fatal: [system142]: FAILED! => {"changed": false, "msg": "Repository already have a repository named vanillastack"}

I guess that the VM host with the VMs is just too slow to handle all the in

[2020-10-24 11:21] #7 closed

[2020-10-24 11:21] jaybe1966 commented on #7
Will try a newer release of the installer.

[2020-10-24 11:27] jaybe1966 opened #8 "Error: etcdserver: request timed out"
Trying the installation of release 20.10 with installer version: Server Version 0.500.08d910d7

The Installation fails with "Error: etcdserver: request timed out"

{
   "changed":false,
   "command":"/usr/local/bin/helm --namespace=kube-system upgrade -i --reset-values --wait --create-namespace -f=/tmp/tmpor6_s7yx.yml cilium vanillastack/cilium",
   "msg":"Failure when executing Helm command. Exit

[2020-10-24 12:31] toxynoid opened #9 "Vanillastack install failing at TASK [prepare-registry : install VanillasStack Helm repository - commercial] ***"
TASK [prepare-registry : install VanillasStack Helm repository - commercial] ***
fatal: [master1]: FAILED! => {"changed": false, "msg": "Repository already have a repository named vanillastack"}

I'm of course willing to add additional information if needed.

[2020-10-24 13:14] toxynoid commented on #9
Sorry, I didn't use the latest installer.

[2020-10-24 13:14] #9 closed

[2020-10-24 16:50] toxynoid opened #10 "Error: list: failed to list: etcdserver: leader changed"
Server Version 0.500.08d910d7

TASK [deploy-kubernetes : Deploy latest version of Cilium] *********************
fatal: [master1]: FAILED! => {"changed": false, "command": "/usr/local/bin/helm --namespace=kube-system list --output=yaml --filter cilium", "msg": "Failure when executing Helm command. Exited 1.\nstdout: \nstderr: Error: list: failed to list: etcdserver: leader changed\n", "stderr": "Er

[2020-10-25 15:06] galexrt commented on #10
Seem like something isn't quite right with the ETCD cluster for some reason.
If you are able to run `kubectl` already, could you check if any `kubectl get nodes`, etc. return anything?

[2020-10-25 17:40] toxynoid commented on #10
Sorry, I cannot reproduce. I'm hitting issue #8 this time.

[2020-10-26 14:50] jaybe1966 commented on #8
The used systems are just too slow for handling the requests.
Switching to other systems and trying again.

[2020-10-26 15:30] christiancloudical commented on #10
Did you validate, switching to more powerful systems is fixxing your issue?

[2020-10-26 15:35] christiancloudical commented on #6
@chymian sorry for long time of no reply.
At the end - bring your own Linux should mean what it means.
We are not focusing on cloud images, our testenvironment f.e. is build of normal kvm images ( automaticly build for sure, but no cloudcfg )
As there is a lot of options to reconsider off, we are improving the installer,step by step, to try to handle all installations at the end.
That is, as you c

[2020-10-26 17:19] toxynoid commented on #10
I have 12 cores HT enabled (24 threads) and 142 GB RAM for this cluster. Workload is low. I can't imagine how more power would help.

[2020-10-26 17:35] christiancloudical commented on #10
As you mentioned, hitting #8, that one is closed since 3 hours, because he mentioned, that faster systems solve that issue.
Just wanted to make sure, that is not the issue on your side.

Can you offer a little more information about your environment?
How many systems
OS
External / Internal Loadbalancer

[2020-10-26 18:34] toxynoid commented on #10
- 3 x Master 12GB 2CPU
- 4 x Worker 12GB 2CPU
- 1 x Loadbalancer 8GB 1CPU

All virtual machines running fedora 32 on a fedora 32 host with 12 Cores HT enabled and 142GB.

[2020-10-26 19:37] toxynoid commented on #8
Was this issue really solved by switching system?

[2020-10-26 22:14] jaybe1966 commented on #8
I tried to install vanillastack on six VMs, running on on a host with a single CPU and just 32GB RAM.
The minimal required configuration should be fulfilled, bu it takes very, very long to start up the six vms and to reboot them during the installation. Waiting for the nodes to start the pods takes too long and times out.
I will now use four separate older PCs, each will run a single VM.
I will us

[2020-10-27 08:49] toxynoid commented on #8
I do have this issue with 12 cores with HT enabled and 142 GB RAM. I don't want to believe this issue is a lack of resources.

[2020-10-27 09:29] jaybe1966 commented on #8
My actual config:
- Four VM-Hosts, each of them running one VM with one node.
- The four CPUs of the host systems:
Xeon(R) CPU E3-1225 V2 @ 3.20GHz
Intel(R) Core(TM) i5-3470 CPU @ 3.20GHz
Intel(R) Core(TM) i5-2400 CPU @ 3.10GHz
Intel(R) Core(TM) i5 CPU         750  @ 2.67GHz
- each node is configured with 4GB RAM an 2 CPU

With vanillastack 20.10, image version 0.500.08d910d7, I was now able to in

[2020-10-27 18:52] robinbraemer opened #11 "nova-db-sync job stucks at `nova-manage db sync`"
When trying to install in non-HA mode the `nova-db-sync` stuck when syncing the db.
The installer keeps waiting until being out of retries as the job never finishes.

Installer log: https://workupload.com/file/sXkUCtnEmHG

Problem pod:
[code]

nova db sync job logs (stuck at last `db sync`):
[code]

In the MariaDB logs there are always two IPs in the error.
These are the pods who try to connect. (

[2020-10-27 21:55] jaybe1966 commented on #8
Installed it two times with success:

kubectl cluster-info
Kubernetes master is running at https://192.168.10.141:8443
KubeDNS is running at https://192.168.10.141:8443/api/v1/namespaces/kube-system/services/kube-dns:dns/proxy
kubernetes-dashboard is running at https://192.168.10.141:8443/api/v1/namespaces/kube-system/services/https:kubernetes-dashboard:https/proxy

kubectl get nodes
NAME        S

[2020-10-28 10:58] jaybe1966 opened #12 "Installation fails when trying to deploy Harbor"
Trying the installation of release 20.10 with installer version: Server Version 0.500.08d910d7

Trying the following configuration:

[code]

The installation fails, the pod "harbor-harbor-core" is permanent in status "ContainerCreating"
`harbor-harbor-core-dbf845545-lq76r             0/1     ContainerCreating   0          63m`

Logfile: [2020-10-28_s4.log](https://github.com/vanillastack/vanillast

[2020-10-28 13:41] kisahm commented on #12
harbor cannot mount the tls secret.
i'll verify it in my test environment

[2020-10-28 15:26] leejjoon commented on #12
I have encountered a similar problem.

For my case, the host value in  'harbor-harbor-ingress' and 'harbor-harbor-ingress-notary' was set to 'harbor.test.vanillastack.cloudical.net' instead of the value I specified, which I believe prevented the creation of the tls secret. Manually correcting these fixed the problem for me.

[2020-10-28 22:03] jaybe1966 commented on #12
How to fix this manually?

[2020-10-28 22:06] jaybe1966 opened #13 "Single master-node installation didn't get the Cluster IP-Address"
In a single master-node installation, the specified IP-Address of the cluster isn't assigned to the master node. This IP address is unreachable.

[2020-10-29 10:40] toxynoid commented on #8
I made an successful install without high availability as well. I'll try an install with HA when my SSDs arrive.

[2020-10-29 11:01] leejjoon commented on #12
During the installation, I simply used "kubectl edit" command to fix the wrong values in the ingress definitions. This is just a workaround to make the installation proceeds, not a solution.

[2020-11-18 10:48] kisahm commented on #11
sorry for the delay.
which openstack version is in use?
we've updates a lot of helm charts to the november release.
could you rerun the current version?

[2020-11-18 12:12] #11 closed

[2020-11-19 09:46] christiancloudical commented on #13
hey @jaybe1966,
sorry for delay:

that is right, we only use "VIPs" in HA-Setups.
Please use your Master IP as IP-address of the cluster

[2020-12-03 10:07] lucj opened #15 "Error during installation"
Hello,

When trying to install the Vanilla Stack on a bunch of DigitalOcean VM (3 masters + 3 workers + a dedicated load balancer), the installation failed with the the following logs:

[code]

All my nodes have the same specifications:
- Ubuntu 20.04
- 4 GB Ram
- 2 vcpus
- 80 GB SSD
- block attached storage (for Rook)

Any ideas about this problem ?

[2020-12-03 10:13] kisahm commented on #15
Could you login on one node and check which repositories are in use?
No repo provides the ansible package.

cat /etc/apt/sources.list
Or cat /etc/apt/sources.list.d/*

[2020-12-03 10:17] kisahm commented on #15
Could you to to search the ansible package?

apt search ansible

[2020-12-03 10:19] lucj commented on #15
[code]

[2020-12-03 10:24] kisahm commented on #15
Should be part of the universe repository.

https://packages.ubuntu.com/focal/ansible

You could try to change the repo to the upstream servers:

deb http://archive.ubuntu.com/ubuntu/ focal main restricted universe multiverse
deb-src http://archive.ubuntu.com/ubuntu/ focal main restricted universe multiverse

deb http://archive.ubuntu.com/ubuntu/ focal-updates main restricted universe multiverse
d

[2020-12-03 10:33] lucj commented on #15
Just to be sure:
I'm using another node on which I've deployed the Docker installer. This node runs the playbooks, do you confirm this is the only node where I need to change the configuration (the only one that need the ansible package) ?

[2020-12-03 14:50] lucj commented on #15
Much better using the repos you provided. I have a lot of things installed but it fails with another error:

[code]

Might be interesting to provide a default cloud-config file just in case the VMs are created on a cloud provider which defines its own resources.

[2020-12-03 20:07] lucj commented on #15
From [cri-o.io](https://cri-o.io), it seems the URL is not correct in my case.

It tries to get the key from:
[code]

instead of:
[code]
where $OS is xUbuntu_20.04

Any thoughts ?

[2020-12-04 08:30] lucj opened #16 "Configuration of the external load balancer"
This is more a question than an issue :)
In the Cluster-Settings step, if I want to provide a load balancer, how does this one should be configured ? Should it pass-through 443 to 6443 on each master nodes ?

<img width="1371" alt="Capture d’écran 2020-12-03 à 10 43 18" src="https://user-images.githubusercontent.com/182406/101140297-0e78ac00-3613-11eb-9902-615d1f7e89f3.png">

[2020-12-04 09:22] kisahm commented on #16
You find the information here:
https://docs.vanillastack.io/userguide/20.09/setup/requirements.html#_external_loadbalancer

[2020-12-04 09:27] lucj commented on #16
Thanks, this is really helpful.
Could be really interesting to have this link in the Cluster-Settings section of the installer as well.

[2020-12-04 09:27] #16 closed

[2020-12-04 20:25] lucj commented on #15
Do you think this installation issue comes from Focal then ?
I still don't get why this is failing :(

[2020-12-07 08:14] christiancloudical commented on #15
Hey @lucj , you are totaly right, the upstream repos have been moved.
Please update your branch, we have fixxed that in Master some days ago ;)

[2020-12-07 09:57] lucj commented on #15
Hello @christiancloudical, I'm currently doing some testing with the Docker installer. Does the latest image also contains the changes ?

[2020-12-07 10:20] christiancloudical commented on #15
@lucj Verified, that there is no updated image for now, have to investigate, why it hasn't been build automacticly, will update as soon as new image is available

[2020-12-08 07:17] christiancloudical commented on #15
@lucj , can you try the latest image? Should be up2date now

[2020-12-08 10:47] lucj commented on #15
@christiancloudical the installation went much further but it failed on the init cluster step

TASK [deploy-kubernetes : Init Cluster] ****************************************
fatal: [master1]: FAILED! => {"changed": true, "cmd": ["kubeadm", "init", "--service-cidr", "10.96.0.0/12", "--token", "usemsc.hsasoaemzlg2m2gd", "--node-name", "master1", "--control-plane-endpoint", "api.vanilla.techwhale.i

[2020-12-08 12:50] christiancloudical commented on #15
how is your network setup?
is api.vanilla.techwhale.io resolveable? It is neccesary for installation
Is it reachable?
Is your Loadbalancer configured correctly?

[2020-12-08 14:01] lucj commented on #15
Ok, I though the domain name was only used for the SANs and did not have to be resolvable during the setup process. I've change that so it is now reachable and points toward the IP address of the LB.

As I cannot setup my LB do target different nodes on different ports, I've just configured it so it forward 6443/TCP TCP/8443
of my masters.

Also, I think it could be very helpful to have some infor

[2020-12-08 15:10] lucj commented on #15
Regarding the configuration of the LoadBalancer, shouldn't the target be 6443 instead of 8443 ? 6443 is the port on which the api-server is listening.

[2020-12-08 15:37] christiancloudical commented on #15
Target should be 6443, we are working on the Documentation to make it more clear, what the prerequisites should fullfill.
If you only use the installer, you need to run kubeadm reset --force on master1 to clean up previous failed install.
We are working on a "reset" Button for UI, to handle that problem in future releases

[2020-12-08 15:41] lucj commented on #15
I've recreated the VMs and retried the whole installation but I got the same error in the init-cluster.
It seems the LB is correctly configured though :(

[2020-12-09 20:17] lucj commented on #15
Hi @christiancloudical do you have additional hints on what can be wrong in my setup ?

To summarize a little bit (as this issue is quite long now :) ), I have:
- 6 nodes named master1, master2, master3, worker1, worker2 and worker3
- each one based on Ubuntu Focal
- created on DigitalOcean
- a load balancer in front of the 3 masters and forwarding tcp 6443
- api, admin and cluster domain setup

T

[2020-12-10 08:28] christiancloudical commented on #15
Hey @lucj , thank you for your patience, we are working hard on that issue, but it would be nice if you could upload the logfile of the failed installation.
The Master1 not found is only a warning, which is ok.

Regarding Loadbalancing:
It is not planed for the moment, to have a multi Loadbalancer Setup via UI, as we want to keep it simple, but we are working for a future release on a "advanced vi

[2020-12-10 08:36] lucj commented on #15
Hello @christiancloudical, no problem I'll will recreate new instances and run the whole setup.
I'll also create 2 LBs as you suggested.
The cluster-settings step is not really clear regarding that point as there is no reference to the api subdomain (only cluster domain and appstore subdomain are referenced).

<img width="1550" alt="cluster-3" src="https://user-images.githubusercontent.com/182406/

[2020-12-13 15:56] lucj commented on #15
@christiancloudical I've just done a new unsuccessful attempt, here is the whole log file:

[166969978.log](https://github.com/vanillastack/vanillastack/files/5684906/166969978.log)

[2020-12-14 20:32] lucj commented on #15
@christiancloudical I can add your ssh key on the VMs is you need to have a closer look.

[2020-12-15 07:17] christiancloudical commented on #15
Hey @lucj , thank you for your patience, we are working hard on that issue, but it would be nice if you could give me some more time on that.
The Master1 not found is only a warning, which is ok.

I will review your logs and will come back to you, when I need access to the VMs.

Regarding Loadbalancing:
It is not planed for the moment, to have a multi Loadbalancer Setup via UI, as we want to keep

[2020-12-15 07:20] lucj commented on #15
Hi @christiancloudical, ok this is the configuration I'm using as you detailed it in your previous message.
I'll not be able to leave the VMs / LB up for too long though (as I'm actually paying for them for that test).

[2020-12-15 07:31] christiancloudical commented on #15
Ok, in that case, would it be ok for you to delete them for now?
Let me check internaly and when I got an update, let's deploy it together to find out where a problem could be happen

[2020-12-15 07:32] lucj commented on #15
@christiancloudical no problem at all 👍

[2020-12-15 13:16] christiancloudical commented on #15
meanwhile if you want to, try image with tag testing-latest.
Tested that internally and run through installation. If this fails, I'd like to check your environment via ssh

[2020-12-16 08:02] lucj commented on #15
@christiancloudical the cluster is correctly setup 👍
[code]
I think I also had an issue on my side regarding the healthcheck configuration of the LB.

I have an issue in the ```deploy-keycloak : generate bearertoken```

From what I see in the logs, keycloak sub domain also needs to be setup but I did not see that requirement while installing the stack.

[code]

If I need to retry the installation

[2020-12-17 11:50] christiancloudical commented on #15
Hey @lucj
Looks much better now :)
We are working on a manager pod, wich will give the opportunity to start single jobs later on - But that will be released in the new year unfortunatly :/
If that is a option for you, download the git repository, copy group_vars.testing to group_vars and change the Inventory.
Than edit the type_vanillastack_deploy.yaml playbook and remove everything before keycloa

[2020-12-17 20:16] lucj commented on #15
Thanks @christiancloudical 👍

[2021-01-02 16:11] #15 closed

[2021-01-03 20:15] lucj opened #17 "Error on deploy-keycloak task"
Hello,

The stack installation went fine (the cluster is available) but I got an error message regarding the deploy-keycloak task:

[code]

I have a load balancer in front of the master nodes only (as I cannot use the same LB for both workers and masters).
I did not find the exact configuration in the documentation, could you confirm that admin.cluster.domain and keycloak.cluster.domain should be

[2021-01-04 07:32] kisahm commented on #17
Hi @lucj,

all domains (like keycloak, grafana, etc) should point to the loadbalanacer (internal/external) ip.
the LB balance the traffic to the ingress node ports.

[2021-01-04 09:36] lucj commented on #17
Thanks @kisahm, there is surely something I've done incorrectly then but cannot figure out what this is.

The error:
[code]

seems to be due to the fact cert manager is not able to reach the ingress controller Pod.

Logs of cert manager:
[code]

The load balancer exposing the workers is configured with the following:

<img width="618" alt="Capture d’écran 2021-01-04 à 10 27 22" src="https://user

[2021-01-04 14:10] lucj commented on #17
Digging a little bit deeper, it seems the load balancer tries to reach the worker nodes using their private IPs (all workers are in a same DigitalOcean VPC) but this does not work.

For instance I can reach the ingress controller sending a request from worker1 to worker2 using worker2's external IP.

[code]

But I cannot reach the ingress controller sending a request from worker1 to worker2 using

[2021-01-09 14:36] kisahm commented on #17
coud you check how the port binding looks like on the node?

[code]

[2021-01-09 14:37] kisahm commented on #4
does the problem still exists?

[2021-01-09 14:38] kisahm commented on #6
does the problem still exists?

[2021-01-09 14:39] kisahm commented on #8
@toxynoid does the ssds fixed the problem?

[2021-01-11 12:12] toxynoid commented on #8
Kind of yes. I have ssds and kubernetes installed, but with kubespray.

Am Sa., 9. Jan. 2021 um 15:39 Uhr schrieb Kim-Norman Sahm <
notifications@github.com>:

[2021-01-11 15:21] #8 closed

[2021-01-11 15:22] kisahm commented on #12
should be fixen in latest image

[2021-01-11 15:22] #12 closed

[2021-01-11 15:31] christiancloudical commented on #10
Hey @toxynoid New Year New Luck,
did you try to install again with latest version?
We did a lot of refactoring and Bugfixxing meanwhile, and as we came to a point, some operating systems often make problems, we decided to keep debian as only supported operating system in the next release.

Would be nice if you could switch to debian 10 and keep up testing with us

[2021-01-22 10:34] #6 closed

[2021-01-22 10:35] #4 closed

[2021-02-03 08:03] #17 closed

[2021-02-03 08:03] #13 closed

[2021-02-08 13:42] fabriziopicconi opened #18 "500 server error"
Hi I'm trying to install minimal (non HA-Installation 1master+ 3worker) staging (non-production) platform.
Click on "Install" @summary page I get this error.
TypeError: Cannot read property 'keystone' of undefined
    at /usr/workdir/src/routes/api/setup.js:560:41
    at Layer.handle [as handle_request] (/usr/workdir/node_modules/express/lib/router/layer.js:95:5)
    at next (/usr/workdir/node_mod

[2021-02-08 13:52] j0x00 commented on #18
I'll check that. We are currently working on vars, maybe keystone slipped through. I'll get back to you @fabriziopicconi as soon as I reviewed the issue

[2021-02-08 14:46] fabriziopicconi commented on #18
Thank you, I'm waiting for your news,

[2021-02-12 05:24] houshym commented on #18
same error in my case:
1- 1 master and 3 workers node

[2021-02-12 09:54] j0x00 commented on #18
@houshym yeah I already found the issue and it will be solved with the next merge/release. We are currently working on vars in our deployment scripts and there is a miss match with what the container expects. I hope this issue is fixed till next week

[2021-02-16 09:03] ZonD80 commented on #18
Confirm. Installation is broken.

[2021-02-16 09:08] j0x00 commented on #18
@ZonD80 the bug is already solved internally. When all checks are passed a new release will be issued.

[2021-02-16 09:27] ZonD80 commented on #18
Thank you! FYI live cd is not working as well. Anyway, waiting for push. Have a nice day!

[2021-02-16 12:41] j0x00 commented on #18
@ZonD80 thanks for the info. The Docker image is the base for the live iso, this is why it is not working as well.

We have now merged the issue and a now image version is available
`docker run --name vanilla -p 8080:8080 --rm harbor.vanillastack.io/vanillastack/installer:latest`
Please try your setup again and if you encounter any issues, use the new installer repo [vanillastack-installer](https:

[2021-02-16 12:41] #18 closed

[2021-02-16 19:09] houshym commented on #18
POST /api/v1/setup 500 9.117 ms - 1130
TypeError: Cannot read property 'keystone' of undefined
    at /usr/workdir/src/routes/api/setup.js:560:41
    at Layer.handle [as handle_request] (/usr/workdir/node_modules/express/lib/router/layer.js:95:5)
    at next (/usr/workdir/node_modules/express/lib/router/route.js:137:13)
    at Route.dispatch (/usr/workdir/node_modules/express/lib/router/route.js:1

[2021-02-16 19:13] j0x00 commented on #18
@houshym have you made sure to delete any previous vanillastack docker images and pulled the new one?

[2021-02-16 19:21] houshym commented on #18
checking now. is there any slack channel?

[2021-02-16 19:30] houshym commented on #18
checking with the new image and VanillaStack installation failed following is log

PLAY [create inventory for scaling] ********************************************
[WARNING]: While constructing a mapping from
/tmp/ansible/e0285f32-1690-4b5a-9654-9b97820ea164/group_vars/all/global.yaml,
line 233, column 3, found a duplicate dict key (replicas). Using last defined
value only.

TASK [Gathering Facts]

[2021-02-16 19:34] houshym commented on #18
is it mandatory using debian10? I am using ubuntu 20.4

[2021-02-16 19:39] j0x00 commented on #18
@houshym as far as I know there is no slack channel currently, but you can issue requests on our [community board](https://discourse.vanillastack.io/). As for now I would recomment asking those questions in a new issue, because I am working on the backend and cannot really clarify issues within ansible deployments

[2021-02-16 20:25] houshym commented on #18
can we run vanillastack (pure dev env for demo ) with all component including openstack on 4 machine( 1 master 4GB and 2 core and 3worker node 4GB and 2 core)?

[2021-02-16 20:45] j0x00 commented on #18
@houshym I strongly recommend to ask those kind of questions in the above mentioned community board.

[2021-11-23 22:53] czadikem opened #19 "unable to pull installer using docker"
I am unable to do `docker pull harbor.vanillastack.io/vanillastack/installer`  as I get
`Using default tag: latest
Error response from daemon: received unexpected HTTP status: 503 Service Temporarily Unavailable`
How can I pull the image?

[2021-12-27 22:56] chrismade opened #20 "service harbor.vanillastack.io unavailable (reports error 503)"
Running the virtual machine to install vanillastack currently ends at an unavailable service:
https://harbor.vanillastack.io/chartrepo/vanillastack/index.yaml

here is the relevant log:
[code]

it seems that the unavailable service is ignored - but fall-back to the commercial repo does not work either (I'm no vanillastack subscriber yet) and so it ran into a fatal error of zero help repos being in

[2021-12-27 23:08] chrismade opened #21 "after click on "install" all remains quite (no status / progress shown in the browser)"
in the after booting into the Vanilla Install 20.11 VM the start screen appears as expected - all config step can be done as expected up to the "summary" - however, clicking "install" just show "installing" without showing any status and progress

I can't see any user error or config here because the VM is turn-key like  - everything is already pre-set - so I doubt any user settings can create or

[2022-01-05 15:00] trickert76 commented on #19
Also, the dockumentation on https://docs.vanillastack.io/userguide/21.01/setup/installer.html says concrete

    docker pull harbor.vanillastack.io/VanillaStack/installer:latest

Which is also wrong and docker quits with

    invalid reference format: repository name must be lowercase

[2022-01-28 10:18] volkermauel commented on #19
Running into the same problem

[2022-03-19 13:21] MiningPickaxe commented on #19
Still hasn't been fixed yet, was this project abandoned by Cloudical?

[2022-03-20 15:12] czadikem commented on #19
I gave up on it instead I would use Harvestor, Fedora Server, Fedora CoreOS, or K3s server.  As it actually works and provides kubernetes easily.

[2022-03-20 15:13] #19 closed

[2022-03-21 21:44] pschl1337 commented on #20
Hey chrismade,

I'm Patrick and I'm Cloudical's new community manager. Thank you for your report and we apologize for not getting in touch for so long. We currently have our hands full taking the vanilla stack to the next level. We have already fixed the problem with the harbor as part of the measures and it should now be available again. Feel free to drop by again in a few days and try out the ne

[2022-03-21 21:49] pschl1337 commented on #21
Hey chrismade,

thanks for your report :)
As i mentioned in the other issue report, the problem should be fixed now. Please notice, the new vanillastack will be available soon, including the newest versions of the used tools and we have already fixed the dirty pipe bug in the linux kernel.

https://linuxiac.com/linux-kernel-vulnerability-dirty-pipe/#:~:text=CVE%2D2022%2D0847%2C%20aka,the%20only%20

[2022-03-21 21:56] pschl1337 commented on #10
Hey @toxynoid,

since we haven't heard from you for a long time, I think the issue no longer exists? Otherwise you can open the ticket again at any time so that we can find a suitable solution for you together. :)

Greetz
Patrick

[2022-03-21 21:56] #10 closed

[2022-03-22 13:46] chrismade commented on #20
hey Patrick, that's good news - I also worked a lot on this vanillastack code all alone to make it more up to date, e.g. added a debian11 path which is python3 only and a few more chances ... can send upfront if you are interested or make a PR later whatever you prefer

[2022-06-24 18:16] schadom opened #22 "Failed to connect to repo.vanillastack.cloudical.net port 443"
Hi,

unfortunately the repo seems to be currently offline, thus installation fails:

	TASK [deploy-kubernetes : Add key for cri-o repos] *****************************
	FAILED - RETRYING: Add key for cri-o repos (3 retries left).
	FAILED - RETRYING: Add key for cri-o repos (3 retries left).
	FAILED - RETRYING: Add key for cri-o repos (3 retries left).
	FAILED - RETRYING: Add key for cri-o repos (3

[2022-06-27 18:52] schadom opened #23 "Is this project still alive?"
As the title says. Thanks

[2022-08-01 09:34] PeeK1e commented on #23
Hi sorry for the late reply, yes this project is still alive were working on releasing a new version soon :)

[2022-08-06 06:03] ardantus commented on #23
install using docker error repo, install using ansible error in helm.

[2022-08-07 14:09] ardantus commented on #23
failed: [master-2] (item=https://repo.vanillastack.cloudical.net/public-gpg-key) => {"ansible_loop_var": "item", "attempts": 3, "changed": false, "item": "https://repo.vanillastack.cloudical.net/public-gpg-key", "msg": "Failed to download key at https://repo.vanillastack.cloudical.net/public-gpg-key: Request failed: <urlopen error timed out>"}

[2022-08-07 14:34] PeeK1e commented on #23
Well be trying to release a new version next week, the current repositories in the playbook seem outdated.

[2022-08-07 14:39] PeeK1e commented on #22
We'll be trying to release a new version next week, the current repositories in the playbook seem outdated.

[2022-08-08 08:25] #23 closed

[2022-08-08 09:26] PeeK1e commented on #22
Hi,
we have released a new version of Vanillastack see
https://github.com/vanillastack/vanillastack/tree/v2.0.0

[2022-08-08 09:32] PeeK1e commented on #23
@ardantus We have released a new version of Vanillastack v2.0.0
If you encounter any problems feel free to open another issue

[2022-08-08 15:14] ardantus opened #24 "kubernetes.core.helm_repository error."
server host debian 10.
iam using tag release v2.0.0 today

error:
[code]
  ^ here

after add ip to  /etc/ansible/hosts

then error:
[code]

please make an instalation requirement and step process to install so i can follow that.

[2022-08-09 07:22] PeeK1e commented on #24
Hi,

Prerequisites have changes a bit, we will update them as soon as possible in a guide.
* Host OS: Debian 11
* There should be about 30GB of Host OS storage
* A RAW / Unformatted Disk for the ceph storage

Please make sure you set your group_vars, especially the container vars to the right values for your cluster.

Before running the playbook [type_vanillastack_deploy](https://github.com/vanill

[2022-08-09 17:00] ardantus commented on #24
Hello

i have got this error:
[code]

iam using debian 11.3 blueseye on all of cluster on GCP 4 cpu 4GB ram 30GB main disk and for worker add on 30GB disk, ansible 2.10.8.

[2022-08-09 21:54] PeeK1e commented on #24
This line seems kind of weird:
`The kubelet is unhealthy due to a misconfiguration of the node in some way (required cgroups disabled)`

Can you append your `container_vars.yaml` and the output of `systemctl status kubelet` `journalctl -xeu kubelet`

We tested deployment on an AWS environment today and could setup an working cluster. Though we have not done any testing in Google Cloud Environments

[2022-08-10 13:57] ardantus commented on #24
here is:

[code]

for services:

[code]

[2022-08-10 17:26] PeeK1e commented on #24
Hi,
thanks for the values.
The container vars seem correct, for the journal you will have to let the ansible script fail and then execute the command on a master and on a worker else we can't see what may be wrong there ;)

[2022-09-20 06:58] #22 closed

[2022-09-20 06:58] IvoMende commented on #22
Closed due to new version release...
Please open a new ticket as soon you had time to check out.

[2022-09-20 06:59] IvoMende commented on #24
Hi ... is there any new state? Otherwise I would close the ticket.

[2022-09-20 07:00] IvoMende commented on #21
I close this ticket due to new version release. Please open a new one if you had time to check.

[2022-09-20 07:00] #21 closed

[2022-09-20 07:02] IvoMende commented on #2
We released an updated version in Aug2022. Feel free to open a new ticket as soon as you had time to check.

[2022-09-20 07:02] #2 closed

[2022-09-20 07:03] IvoMende commented on #20
Hi Chrismade,
I close this issue so far due to the new version from Aug2022. Please feel free to open a new one as soon as you had time to check. thx

[2022-09-20 07:03] #20 closed

[2022-10-04 19:22] #24 closed